<div class="search-component-container">
    <div class="search-input-container">
        <mat-icon>search</mat-icon>
        <mat-form-field class="search-input">
            <input matInput placeholder="Search..." [(ngModel)]="query">
        </mat-form-field>
    </div>
    <mat-spinner *ngIf="!listIsLoaded" diameter='50' style="margin: 0 auto;"></mat-spinner>
    <div class="card-container" *ngIf="listIsLoaded">
        <mat-card *ngFor="let account of searchedAccounts" (click)="onAccountCard(account.id)">
            <mat-card-content>
                <app-image-preloader [imgUrl]="account.profile_image" [styleElements]="styleElementsProfileImage"
                    [alt]="altProfileImage" class="image-preloader"></app-image-preloader>
                <div class="account-text">
                    <h3 style="margin: 0;">{{account.username}}</h3>
                </div>
                <div class="spacer"></div>
                <mat-chip-list style="margin-left: 20px; cursor: pointer;">
                    <mat-chip color="primary" selected *ngIf="account.is_friend" class="account-chip">Friends
                    </mat-chip>
                    <mat-chip color="accent" selected *ngIf="!account.is_friend && !account.is_self"
                        class="account-chip">Not friends
                    </mat-chip>
                    <mat-chip color="accent" *ngIf="account.is_self" class="account-chip" disabled>This is you
                    </mat-chip>
                </mat-chip-list>
            </mat-card-content>
            <mat-card-actions *ngIf="account.is_friend" style="display: flex; justify-content: space-around;">
                <button mat-stroked-button color="primary" style="margin: auto;"
                    (click)="onSendMessage(account, $event)">Send a message</button>
            </mat-card-actions>
        </mat-card>
        <div *ngIf="searchedAccounts.length === 0" class="search-no-results">
            <h3>No results</h3>
        </div>
    </div>
</div>