.card-container {
    display: flex;
    max-width: 300px;
    margin-bottom: 8px;
}

.small-card-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.profile-card-row {
    display: flex;
    flex-direction: column;
}

.new-image-container {
    max-width: 250px;
    height: auto;
    margin: 0 auto 32px auto;
    position: relative;
}

.image-container {
    max-width: 250px;
    height: auto;
    margin: 0 auto 32px auto;
    position: relative;
}

.image-container img {
    max-width: 250px;
    height: auto;
    opacity: 1;
    transition: 0.5s ease;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
}

.btn-image-edit {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
}

.image-container img:hover + .btn-image-edit {
    opacity: 1;
    transition: 0.5s ease;
}

.image-container img:hover{
    opacity: 0.3;
    transition: 0.5s ease;
    cursor: pointer;
}

.field-heading{
    color: #797979;
    font-size: small;
}

.profile-edit-footer-btn {
    min-width: 100px;
    margin: 0px auto 16px auto;
    align-items: center;
}

.small-card {
    margin-bottom: 16px;
}

.small-card:hover {
    cursor: pointer;
}

.small-card-content {
    display: flex;
    justify-content: space-around;
}

mat-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width : 480px) {
    .card-container {
        flex-direction: column;
    }

    .small-card {
        margin-left: 0;
        margin-top: 16px;
        margin-bottom: 0;
        width: calc(100% - 32px);
    }
    .small-card-container {
        margin-left: 0;
    }
}