<mat-drawer-container class="drawer-container mat-app-background" hasBackdrop="true"
    [ngClass]="{'theme-alternate': lightTheme}">
    <mat-drawer #drawer mode="over">
        <div class="drawer-menu-container">
            <mat-toolbar color="primary">
                <span>Menu</span>
                <div class="spacer"></div>
                <button mat-icon-button class="example-icon" aria-label="close icon" (click)="drawer.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <div class="drawer-menu-item" (click)="drawer.toggle(); uiService.showHome()">
                <mat-icon>home</mat-icon>
                <h2 style="margin: 0 12px 0 0;">Home</h2>
            </div>
            <div class="drawer-menu-item" (click)="drawer.toggle(); uiService.showSearchUserComponent()"
                *ngIf="accountService.isLoggedIn()">
                <mat-icon>people</mat-icon>
                <h2 style="margin: 0 12px 0 0;">Search users</h2>
            </div>
            <div class="spacer"></div>
            <div *ngIf="accountService.isLoggedIn()" class="drawer-menu-item"
                (click)="drawer.toggle(); uiService.showOwnProfile()">
                <mat-icon>account_circle</mat-icon>
                <h2 style="margin: 0 12px 0 0;">Account</h2>
            </div>
            <div class="drawer-menu-item">
                <div style="margin:auto;">
                    <mat-icon style="font-size: 18px; height: 18px; width: 18px;">bedtime</mat-icon>
                    <mat-slide-toggle [(ngModel)]=" lightTheme" (change)="storeTheme()">
                    </mat-slide-toggle>
                    <mat-icon style="font-size: 18px; height: 18px; width: 18px;">wb_sunny</mat-icon>
                </div>

            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-header (toggleDrawer)="drawer.toggle()"></app-header>
        <div class="content" role="main">
            <app-public-chat *ngIf="showPublicChatComponent"></app-public-chat>
            <app-profile *ngIf="showProfileComponent"></app-profile>
            <app-profile-edit *ngIf="showProfileEditComponent"></app-profile-edit>
            <app-search-user *ngIf="showSearchUserComponent"></app-search-user>
            <app-friend-requests *ngIf="showFriendRequestsComponent"></app-friend-requests>
            <app-friend-list *ngIf="showFriendListComponent"></app-friend-list>
        </div>
    </mat-drawer-content>
</mat-drawer-container>